$bg: #ffffff;
$white: #ffffff;
$grey: #777777;
$black:#333333;
$lightgrey:#F2F5F7;
$iris:#5D5FEF;
$pink:#F178B6;
$mainfont: Roboto;
$medium:500;
$regular: 400;
$light:300;
$thin:200;
$title: 48px;
$tab: 32px;
$bigsubtitle: 36px;
$link-size:20px;
$subtitle: 18px;
$mediumtext:24px;
$text:14px;
$smalltext: 14px;