.calc {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.calc__title {
    width: 207px;
    height: 48px;
    margin-top: 60px;
    border-radius: 5px;
    background-color: $iris;
    color: $white;
    font-size: $tab;
    font-weight: $regular;
    padding: 5px 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.calc__subtitle {
    color: $black;
    font-size: $bigsubtitle;
    font-weight: $light;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-top: 10px !important;
}

.calc__card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 40px;
    background-color: $lightgrey;
    & .card__radio-counters {
        padding: 60px 0px 60px 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & .radio__inner-wrapper {
            margin-bottom: 40px;
            & .card__radio-title {
                color: $black;
                font-size: $tab;
                font-weight: $light;
                margin-bottom: 10px;
            }
            & .card__radio-subtitle {
                color: $black;
                font-size: $subtitle;
                font-weight: $medium;
                margin-bottom: 5px;
            }
        }
    }
    & .card__totalamount {
        padding-top: 60px;
        & .amount__title {
            color: $black;
            font-size: $title;
            font-weight: $regular;
            margin-bottom: 10px;
            text-align: right;
        }
    }
}

.range input {
    width: 285px;
    // Thumb
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        @include rangeThumb;
    }
    &::-moz-range-thumb {
        @include rangeThumb;
    }
    &::-ms-thumb {
        @include rangeThumb;
    }
    // Track
    &::-webkit-slider-runnable-track {
        @include rangeTrack;
    }
    &::-moz-range-track {
        @include rangeTrack;
    }
    &::-ms-track {
        @include rangeTrack;
    }
    &:focus {
        background: none;
        outline: none;
    }
    &::-ms-track {
        width: 100%;
        cursor: pointer;
        background: $iris;
        border-color: $iris;
        color: $iris;
    }
}

.range-labels {
    list-style: none;
    padding-inline-start: 0px;
    & li {
        position: relative;
        float: left;
        margin-right: 38px;
        text-align: center;
        color: $grey;
        font-size: $smalltext;
        cursor: pointer;
    }
}