.gifts__wrapper {
    width: 100%;
    max-width: 1903px;
    margin-top: 60px;
    background-image: url(../../src/img/gifts-bg.png);
    background-repeat: no-repeat;
}

.gifts {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.gifts__text-item {
    margin-top: 20px;
    width: 100%;
    max-width: 797px;
    & .gifts__title {
        font-family: $mainfont;
        font-size: $title;
        font-weight: $regular;
        color: $white;
    }
    & .gifts__subtitle {
        font-family: $mainfont;
        font-size: $subtitle;
        font-weight: $regular;
        color: $white;
    }
    & .gifts__button {
        font-family: $mainfont;
        width: 158px;
        height: 41px;
        border: 2px solid $white;
        border-radius: 40px;
        color: $white;
        background: rgba(255, 255, 255, 0);
        &:hover {
            cursor: pointer;
        }
    }
}

.gifts__image-item {
    margin-top: -20px;
}