.programms__wrapper {
    width: 100%;
    max-width: 1903px;
    margin-top: 60px;
    background-image: url(../../src/img/programms-bg.png);
    background-repeat: no-repeat;
}

.programms {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}