.programms__wrapper {
    width: 100%;
    max-width: 1903px;
    margin-top: 60px;
    background-image: url(../../src/img/programms-bg.png);
    background-repeat: no-repeat;
}

.programms {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    & .programms__title-wrapper {
        padding-top: 60px;
        & h2 {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            color: $white;
            font-weight: $regular;
            font-size: $title;
            font-family: $mainfont;
            & img {
                margin-left: 10px;
            }
        }
    }
    & .programms__subtitle-wrapper {
        margin-top: 20px;
        padding-bottom: 60px;
        margin-bottom: 60px;
        & .programms__subtitle {
            width: 100%;
            max-width: 797px;
            margin-right: 0px;
            display: flex;
            color: $white;
            font-weight: $regular;
            font-size: $subtitle;
            font-family: $mainfont;
        }
        & button {
            font-family: $mainfont;
            margin-top: 20px;
            width: 158px;
            height: 41px;
            border: 2px solid $white;
            border-radius: 40px;
            color: $white;
            background: rgba(255, 255, 255, 0);
            &:hover {
                cursor: pointer;
            }
        }
    }
}