.service {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 60px;
}

.service__title {
    width: 122px;
    height: 48px;
    border-radius: 5px;
    background-color: #5D5FEF;
    & h2 {
        color: #fff;
        display: flex;
        vertical-align: middle;
        font-size: $tab;
        font-weight: $regular;
        padding-top: 5px;
        justify-content: center;
    }
}

.service__navigation {
    & ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding-inline-start: 0px;
        & li {
            margin-right: 20px;
            font-size: $tab;
            font-weight: $light;
            color: $grey;
        }
    }
}

.service__subtitle {
    font-size: $subtitle;
    font-weight: $regular;
    color: $grey;
    max-width: 964px;
}

.service__cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service__card {
    width: 100%;
    max-width: 345px;
    margin-top: 40px;
    & .card__title {
        font-weight: $medium;
        font-size: $subtitle;
    }
    & .card__subtitle {
        font-size: $text;
        font-weight: $regular;
        color: $grey;
    }
    & .card__info {
        display: flex;
        justify-content: space-between;
        & .card__info-time {
            border-radius: 40px;
            background-color: $lightgrey;
            padding: 10px;
            font-size: $subtitle;
            font-weight: $light;
            color: $grey;
            & .card__info-time-item {
                background-color: $iris;
                color: $white;
                border-radius: 40px;
                padding: 5px 13px;
            }
        }
        & .card__info-price {
            display: flex;
            align-items: center;
            & .card__info-price-item {
                font-size: $mediumtext;
                font-weight: $regular;
                color: $black;
            }
        }
    }
    & .button-wrapper {
        width: 100%;
        max-width: 345px;
        display: flex;
        justify-content: flex-end;
    }
    & .card__button {
        display: flex;
        border: 2px solid $pink;
        border-radius: 40px;
        padding: 10px 20px;
        color: $pink;
        background-color: $white;
        margin-top: 10px;
        &:hover {
            cursor: pointer;
        }
    }
}