.service {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 60px;
}

.service__title {
    width: 122px;
    height: 48px;
    border-radius: 5px;
    background-color: #5D5FEF;
    & h2 {
        color: #fff;
        display: flex;
        vertical-align: middle;
        font-size: $tab;
        font-weight: $regular;
        padding-top: 5px;
        justify-content: center;
    }
}

.service__navigation {
    & ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding-inline-start: 0px;
        & li {
            margin-right: 20px;
            font-size: $tab;
            font-weight: $light;
            color: $grey;
        }
    }
}

.service__subtitle {
    font-size: $subtitle;
    font-weight: $regular;
    color: $grey;
    max-width: 964px;
}

.service__cards-wrapper {}

.service__card {
    width: 100%;
    max-width: 345px;
    & .card__title {
        font-weight: $medium;
        font-size: $subtitle;
    }
    & .card__subtitle {
        font-size: $text;
        font-weight: $regular;
        color: $grey;
    }
    & .card__info {
        display: flex;
        justify-content: space-between;
    }
}