.active-link {
    // border-bottom: 1px solid #ffffff;
    text-decoration: underline;
}

.active-tab {
    text-decoration: underline;
    color: $black !important;
}

.strikethrough {
    text-decoration: line-through;
    color: $grey;
    margin-right: 10px;
}

.bold {
    font-weight: $regular;
    color: $black;
}

.highlighted {
    color: $pink;
}